    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Thống Kê</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Sách </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/book">Danh Sách</a></li>
                <li class="nav-item"> <a class="nav-link" href="/book/create">Tạo Sách</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Thể Loại</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/category">Danh Sách</a></li>
                <li class="nav-item"><a class="nav-link" href="/category/create">Tạo Mới</a></li>

              </ul>
            </div>
          </li>
          @* <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
              </ul>
            </div>
          </li> *@
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title"> Mượn Sách </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/borrowing">Danh Sách</a></li>
                <li class="nav-item"> <a class="nav-link" href="/borrowing/create">Tạo Mới</a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Thông Báo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/notication">Danh Sách</a></li>
                <li class="nav-item"> <a class="nav-link" href="/notication/create">Soạn Tin</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Người Dùng</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/user"> Danh Sách </a></li>
                <li class="nav-item"> <a class="nav-link" href="/user/create"> Tạo Mới </a></li>
              </ul>
            </div> 
            
          </li>
         
          @* <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li> *@
          <li class="nav-item">
            <a class="nav-link" href="/tracking">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Tra Cứu</span>
            </a>
          </li>
         <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#bookRegis" aria-expanded="false" aria-controls="bookRegis">
              <i class="mdi mdi-folder-plus"></i>
              <span class="menu-title"> Đăng Kí Sách </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="bookRegis">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/registerBook/create">Đăng Kí Ngay</a></li>
              </ul>
            </div>
          </li> 
        </ul>
      </nav>