@model Category;
@{
    var categories = ViewBag.categories as List<Category>;
}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Thêm thể loại mới</h4>
      <p class="card-description">Thêm thể loại không được trùng với thể loại đã có</p>
      <form class="forms-sample" method="post" asp-action="create">
        <div class="form-group">
          <label asp-for="@Model.name">Tên thể loại</label>
          <input
            class="form-control"
            asp-for="@Model.name"
          />
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
