@model Notication;
@{
  
}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Chi Tiết</h4>
      
      <form class="forms-sample" method="post" asp-action="create">
        <div class="form-group">
          <label >Người Gửi</label>
          <input
            class="form-control"
            name="receiver"
            asp-for="@Model.sender.email"
          />
        </div>
        <div class="form-group">
          <label asp-for="@Model.text">Nội Dung</label>
          <input
            class="form-control"
            asp-for="@Model.text"
          />
        </div>
        <div class="form-group">
          <label for="exampleSelectGender">Kiểu</label>
          <select class="form-control" name="typeMessage" id="exampleSelectGender">
               <option value="0">Tin nhắn</option>
               <option value="1">Thông báo</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
