

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Tra Cứu Mượn Sách</h4>
      
      <form class="forms-sample" method="post" asp-action="Tracking">
        <div class="form-group">
          <label >Mã Phiếu Mượn</label>
          <input
            class="form-control"
            name="id"
          />
        </div>
       
       
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
